.card {
	height: 100%;
	width: 100%;
	padding: 2px;
}
.book {
	outline: 5px solid #A0A0A0;
}

.character {
	outline: 5px solid #FF9999;
}

.house {
	outline: 5px solid #66b2FF;
}
.name {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	color: #4c4c4c;
}

.author,.aliases,.region {
	text-align: right;
}

.meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

small {
	font-size: 14px;
}
