<div *ngIf="cardType==='book'" class="card book" [routerLink]="['/book']"
	[queryParams]="{'id':getId(card.url)}">
	<div><small>(book)</small></div>
	<div class="name">{{card.name}}</div>
	<div class="author"><small>{{card.authors[0]}}</small></div>
	<div class="meta">
		<small>
			{{card.numberOfPages + ' pages'}}
		</small>
		<small>
			{{card.released | date}}
		</small>
	</div>
</div>

<div *ngIf="cardType==='character'" class="card character" [routerLink]="['/character']"
	[queryParams]="{'id':getId(card.url)}">
	<div><small>(character)</small></div>
	<div class="name">{{card.name?card.name:'Common Character'}}</div>
	<div class="aliases" *ngIf="card.aliases[0]">
		<small >{{card.aliases[0]}}</small>
	</div>
	<div class="meta" *ngIf="card.culture || card.gender">
		<small>
			{{card.culture}}
		</small>
		<small>
			{{card.gender}}
		</small>
	</div>
</div>

<div *ngIf="cardType==='house'" class="card house" [routerLink]="['/house']"
	[queryParams]="{'id':getId(card.url)}">
	<div><small>(house)</small></div>
	<div class="name">{{card.name?card.name:'Common House'}}</div>
	<div class="region">
		<small>
			{{card.region}}
		</small>
	</div>
	<div>
		<small *ngIf="card.words">{{card.words}}</small>
	</div>
</div>