.name {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	color: #4c4c4c;
}

.author,.aliases,.region {
	text-align: right;
}

.meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

small {
	font-size: 14px;
}
