.cards-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
	margin: 0px;
	flex-wrap: wrap;
}

.card-shell {
	color: black;
	padding: 10px;
	width: 280px;
	flex-grow: 0;
	background-color: white;
	margin: 20px;
	outline: 1px solid #4c4c4c;
	-webkit-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	transition: box-shadow 0.5s linear;
	cursor: pointer;
}

.card-shell:hover {
	box-shadow: none;
}