<nav>
	<div class="brand-drop">
		<a class="brand" [routerLink]="['/']">
			Fire/Ice
		</a>
		<i class="fas fa-bars"></i>
	</div>
	<ul [class.showDropDown]="showDropDown" [class.hideDropDown]="!showDropDown">
		<li class="link">
			<a [routerLink]="['/category']" [queryParams]="{'show':'books'}">Books</a>
		</li>
		<li class="link">
			<a [routerLink]="['/category']" [queryParams]="{'show':'characters'}">Characters</a>
		</li>
		<li class="link">
			<a [routerLink]="['/category']" [queryParams]="{'show':'houses'}">Houses</a>
		</li>
		<li>
			<form>
				<input type="text" name="search" #name autocomplete="off">
				<button type="submit" (click)="searchCard(name, $event)">Search</button>
			</form>
		</li>
	</ul>
</nav>