<div class="container">
	<div class="header">
		<h2>{{bookData.name}}</h2>
	</div>
	<div class="info">
		<p>Author: <span class="bold">George R. R. Martin</span></p>
		<p *ngIf="bookData.publisher">Publisher: <span class="bold">{{bookData.publisher}}</span></p>
		<p *ngIf="bookData.country">Country: <span class="bold">{{bookData.country}}</span></p>
		<p *ngIf="bookData.mediaType">Media Type: <span class="bold">{{bookData.mediaType}}</span></p>
		<p *ngIf="bookData.released">publisher: <span class="bold">{{bookData.released | date}}</span></p>
		<p *ngIf="bookData.isbn">isbn: <span class="bold">{{bookData.isbn}}</span></p>
	</div>
	<div class="pov-characters">
		<div class="label-cards">
			<div class="label">
				<h2>Point of View Characters</h2>
			</div>
			<app-card-list [cards]="povCards"></app-card-list>
			<div [ngClass]="{'load':!povLoaded, 'loaded':povLoaded}" (click)="getCards('pov')">
				<h2>{{povLoaded?'All Loaded':'Load More'}}</h2>
			</div>
		</div>
		<div class="label-cards">
			<div class="label">
				<h2>Supporting Characters</h2>
			</div>
			<app-card-list [cards]="characterCards"></app-card-list>
			<div [ngClass]="{'load':!characterLoaded, 'loaded':characterLoaded}"(click)="getCards('character')">
				<h2>{{characterLoaded?'All Loaded':'Load More'}}</h2>
			</div>
		</div>
	</div>
</div>
