.container {
	width: 100%;
	min-height: 100vh;
	padding: 40px 0px;
}

.header {
	width: 320px;
	margin: 0px auto 20px auto;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	transition: box-shadow 0.5s linear;
	outline: 1px solid #4c4c4c;
	cursor: default;
}

.header h2 {
	margin: 0px;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	color: #4c4c4c;
	outline: 5px solid #66b2FF;
}


.info{
	width: 480px;
	margin: 40px auto;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	transition: box-shadow 0.5s linear;
	outline: 5px solid #66b2FF;
	cursor: default;
}

.title {
	color: #4c4c4c;
	text-align: center;
	font-size: 23px;
	margin: 10px 0px;
}

.key-bold{
	color: #4c4c4c;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.bold {
	margin: 0px 0px 0px 5px;
	font-weight: bold;
	font-size: 18px;
	flex: 1;
}

.branches-members {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.label{
	width: 280px;
	margin: 0px auto 20px auto;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.48);
	transition: box-shadow 0.5s linear;
	outline: 1px solid #4c4c4c;
	cursor: default;
}

.label-cards {
	margin: 15px 0px;
	width: 100%;
	display: flex;
	padding: 0px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.label h2 {
	margin: 0px;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	color: #4c4c4c;
	outline: 5px solid #66b2FF;
}

.header:hover, .info:hover, .label:hover {
	box-shadow: none;
}

.click {
	cursor: pointer;
}

.click:hover {
	text-decoration: underline;
}


@media screen and (max-width: 490px) {
	.info {
		width: 100%;
	}
	.header {
		width: 280px;
	}
}