/* You can add global styles to this file, and also import other style files */
html, body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #4682b4;
	color: white;
    font-family: 'Ubuntu Mono', monospace;
}

* {
	box-sizing: border-box;
}

.box {
	display: inline-block;
	margin: 20px;
	background-color: white;
	color: #4c4c4c;
	outline: 2px solid #4c4c4c;
}

a {
	color: #4c4c4c;
	text-decoration: none;
}